{% load static %}
  
<!DOCTYPE html>
  <html lang="es">
      <head>
          <meta charset="utf-8" />
          <meta http-equiv="X-UA-Compatible" content="IE=edge" />
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
          <meta name="description" content="Proyecto edicion formatos en Tame / Arauca" />
          <!-- XD -->
          <meta name="author" content="Ejercito oscuro Lunar" />
          <title>  {% block title %}  {% endblock title %} </title>
          <link href="{% static 'css/styles2.css' %}" rel="stylesheet" />
          <link href="{% static 'css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" />
          <link href="{% static 'css/bootstrap-datepicker.min.css' %}" rel="stylesheet" >
          <link href="{% static 'css/responsive.bootstrap4.min.css' %}" rel="stylesheet" />
          <link href="{% static 'css/select2.css' %}" rel="stylesheet" />
          {% block estilos-css %} {% endblock estilos-css %}
          <script src="{% static 'css/fuentes2.css' %}" crossorigin="anonymous"></script>

      </head>
      <body class="sb-nav-fixed">
          <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
              <!-- Navbar Brand-->
              <a class="navbar-brand ps-3" href="{% url 'plantilla_inicio' %}">Formatos editables</a>
              <!-- Sidebar Toggle-->
              <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
              <!-- Navbar Search-->
              <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                  <div class="input-group">
                      <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                      <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                  </div>
              </form>
              <!-- Navbar-->
              <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span class="mr-2 d-none d-lg-inline text-gray-600 small">Hola {{ request.user }}</span>
                        <img class="img-profile rounded-circle"
                            src="#"></a>
                      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                          <li><button class="dropdown-item" type="button" onclick="abrir_modal_edicion('/usuario/editar_usuario/'+{{ request.user.id }}+'/')">Editar usuario</button></li>
                          <li><hr class="dropdown-divider" /></li>
                          <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a></li>
                      </ul>
                  </li>
              </ul>
          </nav>
          <div id="layoutSidenav">
              <div id="layoutSidenav_nav">
                  <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
                      <div class="sb-sidenav-menu">
                            <div class="nav">
                                <div class="sb-sidenav-menu-heading"> Apartado </div>
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsentidad" aria-expanded="false" aria-controls="collapsentidad">
                                    <div class="sb-nav-link-icon"><i class="fas fa-boxes"></i></div>
                                    Entidad
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapsentidad" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <button class="btn btn-light" type="button" onclick="abrir_modal('/entidades/crear_entidad/')">
                                            <div class="sb-nav-link-icon"><i class="fas fa-folder-plus"></i></div>
                                            Crear entidad
                                        </button>
                                        <a class="nav-link" href="{% url 'entidades:lista_entidades' %}">
                                            <div class="sb-nav-link-icon"><i class="fas fa-map-marker-alt"></i></div>
                                            Listar entidades
                                        </a>
                                    </nav>
                                </div>
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsecontrato" aria-expanded="false" aria-controls="collapsecontrato">
                                    <div class="sb-nav-link-icon"><i class="fas fa-boxes"></i></div>
                                    Contrato
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapsecontrato" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <button class="btn btn-light" type="button" onclick="abrir_modal('/entidades/crear_contrato/')">
                                            <div class="sb-nav-link-icon"><i class="fas fa-folder-plus"></i></div>
                                            Crear contrato
                                        </button>
                                        <a class="nav-link" href="#">
                                            <div class="sb-nav-link-icon"><i class="fas fa-map-marker-alt"></i></div>
                                            Listar contratos
                                        </a>
                                    </nav>
                                </div>
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapserector" aria-expanded="false" aria-controls="collapserector">
                                    <div class="sb-nav-link-icon"><i class="fas fa-boxes"></i></div>
                                    Rector
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapserector" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <button class="btn btn-light" type="button" onclick="abrir_modal('/entidades/crear_rector/')">
                                            <div class="sb-nav-link-icon"><i class="fas fa-folder-plus"></i></div>
                                            Crear rector
                                        </button>
                                        <a class="nav-link" href="#">
                                            <div class="sb-nav-link-icon"><i class="fas fa-map-marker-alt"></i></div>
                                            Listar rectores
                                        </a>
                                    </nav>
                                </div>
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsecontratista" aria-expanded="false" aria-controls="collapsecontratista">
                                    <div class="sb-nav-link-icon"><i class="fas fa-boxes"></i></div>
                                    Contratista
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapsecontratista" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <button class="btn btn-light" type="button" onclick="abrir_modal('/entidades/crear_contratista/')">
                                            <div class="sb-nav-link-icon"><i class="fas fa-folder-plus"></i></div>
                                            Crear contratista
                                        </button>
                                        <a class="nav-link" href="#">
                                            <div class="sb-nav-link-icon"><i class="fas fa-map-marker-alt"></i></div>
                                            Listar contratistas
                                        </a>
                                    </nav>
                                </div>
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseformato" aria-expanded="false" aria-controls="collapseformato">
                                    <div class="sb-nav-link-icon"><i class="fas fa-boxes"></i></div>
                                    Formatos
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseformato" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <button class="btn btn-light" type="button" onclick="abrir_modal('/entidades/consulta_contrato/')">
                                            <div class="sb-nav-link-icon"><i class="fas fa-folder-plus"></i></div>
                                            Editar formato
                                        </button>
                                    </nav>
                                </div>
                            </div>
                      </div>
                  </nav>
              </div>
              <div id="layoutSidenav_content">
                {% block body %}
                
                {% endblock body %}
              </div>
              <div class="modal fade" id="modal" role="dialog">
            
              </div>
              <div class="modal fade" id="edicion" role="dialog">
            
              </div>
            </div>
            <script src="{% static 'js/jquery.min.js' %}"></script>
            <script src="{% static 'js/bundle.min.js' %}" crossorigin="anonymous"></script>
            <script src="{% static 'js/sweetalert.js' %}"></script>
            <script src="{% static 'js/scripts.js' %}"></script>
            <script src="{% static 'js/index.js' %}"></script>
            <script src="{% static 'js/simpleLight.min.js' %}"></script>
            <script src="{% static 'js/dataTables.responsive.min.js' %}"></script>
            <script src="{% static 'js/responsive.bootstrap4.min.js' %}"></script>
            <!-- <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script> -->
            <script src="{% static 'js/bootstrap.js' %}"></script>
            <script src="{% static 'js/formset.js' %}"></script>
            <script src="{% static 'js/datatables-simple-demo.js' %}"></script>
            <script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
            
            {% block extra_js %} {% endblock extra_js %}
</body>
  